		<!-- Footer -->
		<footer>
            <div class="soc">
                <a target="_blank" href="https://github.com/vquelque"><span class="ion ion-social-github"></span></a>
            </div>
            <div class="soc">
                <a target="_blank" href="https://medium.com/@valentin.quelquejay"><span class="ion ion-planet"></span></a>
            </div>
            <div class="copy">© 2020 Valentin Quelquejay. All rights reserved.</div>
            <div class="clr"></div>
        </footer>
        <!-- Lines -->
        <div class="line top"></div>
        <div class="line bottom"></div>
        <div class="line left"></div>
        <div class="line right"></div>
        
    </div>
    
    <!-- jQuery Scripts -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.validate.js"></script>
    <script src="/js/typed.js"></script>
    <script src="/js/magnific-popup.js"></script>
    <script src="/js/masonry.pkgd.js"></script>
    <script src="/js/imagesloaded.pkgd.js"></script>
    <script src="/js/masonry-filter.js"></script>
    
    <!-- Main Scripts -->
    <script src="/js/glitche-scripts.js"></script>
    
</body>
</html>