---
layout: default
---

<!-- Started -->
<div class="section started">
    <div class="centrize full-width">
        <div class="vertical-center">
            <div class="started-content">   
                <div class="h-title glitch-effect" data-text="{{ page.glitch-title }}">{{ page.glitch-title }}</div>
                <div class="h-subtitle typing-subtitle">
                    {{ page.glitch-subtitle }}
                </div>
                <span class="typed-subtitle"></span>
            </div>
        </div>
    </div>
</div>	
</div>